{% extends 'base.html' %}
{% block title %}Desafíos de I+D+i - VIMER{% endblock %}
{% block content %}
<h2>Desafíos de Investigación y Desarrollo</h2>
{% if user.organization.role == 'DEMAND_SIDE' %}
    <p><a href="{% url 'marketplace:challenge-create' %}" class="btn btn-primary">Publicar Nuevo Desafío</a></p>
{% endif %}

{% for challenge in challenges %}
<div class="card">
    <h3>{{ challenge.title }}</h3>
    <p>Publicado por: <strong>{{ challenge.publisher.business_name }}</strong></p>
    <p>{{ challenge.description|truncatewords:30 }}</p>
    <a href="{% url 'marketplace:challenge-detail' challenge.pk %}" class="btn btn-primary">Ver Más</a>
</div>
{% empty %}
<p>No hay desafíos publicados en este momento.</p>
{% endfor %}
{% endblock %}
